body
	{
	background-image:url("/images/backgrounds.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #eeeeee;
	}

h1
	{
	text-align: center;
	}

h4
	{
	text-align: center;
	font-variant: small-caps;
	font-size: 1.25em;
	margin:3px;
	}

.cardInfo
	{
	text-align: center;
	background-color:#666;
	max-width:230px;
	margin:1%;
	padding:.25%;
	border-width: 5px;
	border-radius: 15px;
	border-bottom: .5em solid #333;
	}

.cardInfo img
	{
	max-width:223px;
	max-height:310px;
	border-radius:15px;
	}

.cardInfo a
	{
	color: #eeeeee;
	}

.cardInfo a:hover
	{
	color: #fff;
	}

.fullcontent
	{
	margin-top:5vh;
	margin-bottom:5vh;
	min-height: 80vh;
	padding: 20px;
	border-radius:25px;
	}

.content
	{
	background-color:#444;
	margin-bottom:4em;
	padding:1em;
	border-radius:15px;
	}

.deckHeader
	{
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, .25fr) );
	}

.footer
	{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding:.5em;
	background-color:#444;
	}

.footer img
	{
	height:1.25em;
	}

.searchResults
	{
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	}

.searchResults div:hover
	{
	background-color:#e55;
	}
